body
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
}
.wrapper div
{
    background: #eee;
    position: relative;
    top: 20px;
    left: 30px;
    
}