body
{
    margin: 0;
    padding: 0;
    /* text-align: center; */
    /* background: rgba(0, 0, 0, 0.8); */
   

}


.top
{
    position: relative;
    top: 0;
    height: 60px;
    width: 100%;
    background: #00000080;
    animation: tops 25s infinite;
}
    @keyframes tops
    {
        0%
        {
            background: rgba(0, 0, 0, 0.5);
        }
        50%
        {
            background: rgba(0, 0, 0, 0.5);

        }
        100%
        {
            transition: .5s;
            background: black;
        }
    }
.logos
{
    
    position: relative;
    top: -10px;
    left: 0px;
    height: 110%;
    width: 80px;
    background-size: cover;
    overflow: hidden;
    opacity: .6;
    z-index: auto;
}
.text1
{
    position: absolute;
    top: 18px;
    left: 40px;
    height: 10%;
    width: 10%;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.text2
{
    position: absolute;
    top: 18px;
    left: 120px;
    height: 10%;
    width: 10%;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    /* opacity: .7; */
}
.TEXT
{
    position: absolute;
    top: 18px;
    left: 210px;
    height: 10%;
    width: 10%;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    /* opacity: .4; */

}
header
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    /* background: #2F89FC; */
    /* background: #63599e; */
    box-sizing: border-box;
    overflow: hidden;
}
header nav
{
    /* position: fixed; */
    float: right;
}
header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li
{
    list-style: none;
    
}
header nav ul li a
{
    line-height: 60px;
    padding: 0 60px;
    color: white;
    text-decoration: none;
    display: block;

}
header nav ul li a:hover,
header nav ul li a.active

{
    margin-left: 2px;
    color: black;
    background: white;
    transition: 0.3s;
}
.middle
{
    position: relative;
    top: 0;
    left: 0;
}
.photo
{
    position: absolute;
    top: 10px;
    left: 0;
    height: 600px;
    width: 100%;
    background: url("doctorjie.jpg");
    background-size: cover;
}
.text3
{
    position: absolute;
    top: 40%;
     left: 2%;
     width: 50%;
     color: white;
     font-family: sans-serif;
     font-size: 50px;
     z-index: 1;
     font-weight: 800;
}
.end
{
    position: relative;
    top: 0;
    left: 0;
}
.poto
{
    position: absolute;
    top: 668px;
    left: 0;
    height: 500px;
    width: 100%;
    background: url("doctorjie1.jpg");
    background-size: cover;
}
.text4
{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 50%;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.texts
{
    position: relative;
    top: 60px;
    left: 430px;
    color: #63599e;
    height: 100px;
    width: 60%;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.area
{
    position: relative;
    line-height: 40px;
    top: 20px;
    left: 400px;
    height: 403px;
    width: 46.5%;
    font-family: sans-serif;
    font-weight: 100;
    color: black;
    font-size: 20px;
    background: white;
    /* box-shadow: 5px 5px 10px 10px gray; */

}
.second
{
position: relative;
margin-top: 10px;
height: 600px;
width: 100%;
background: black;
}
.doctors
{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: url("doctors.jpg"); */
    background-size: cover;
    animation: hopes 25s infinite;
}
@keyframes hopes
{
    0%
    {
        background: url("doctors.jpg");     
        background-size: cover;
    }
    50%
    {
        background: url("doctors1.jpg");
        background-size: cover;

    }
    100%
    {
        background: url("banner.webp");
        background-size: cover;
    }
}
.help
{
    position: absolute;
    height: 100px;
    width: 390px;
    top: 250px;
    left: 340px;
    font-size: 60px;
    font-weight: 1000;
    line-height: 1.2;
    display: block;
    color: #2f89fc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: help 25s infinite;
}
    @keyframes help
    {
        0%
        {
            opacity: 1;
        }
       
        50%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 0;
        }
    }
.stay
{
    position: absolute;
    height: 100px;
    width: 424px;
    top: 320px;
    left: 340px;
    font-size: 60px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: stay 25s infinite;
}
@keyframes stay
    {
        0%
        {
            opacity: 1;
        }
     
        50%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 0;
        }
    }
.hope
{
    position: absolute;
    height: 100px;
    width: 1100px;
    top: 400px;
    left: 340px;
    font-size: 20px;
    font-weight: 1000;
    opacity: 0.7;
    animation: hopi 25s infinite;
}
 @keyframes hopi
 {
     0%
     {
         opacity: 1;
     }
     
     50%
     {
         opacity: 0;
     }
     100%
     {
         opacity: 0;
     }
 }
.here
{
    position: absolute;
    height: 100px;
    width: 390px;
    top: 250px;
    left: 340px;
    font-size: 60px;
    font-weight: 1000;
    line-height: 1.2;
    display: block;
    color: #2f89fc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: care 25s infinite;
}
@keyframes care
{
    0%
    {
        opacity: 0;
    }
   
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
.about
{
    position: absolute;
    height: 100px;
    width: 484px;
    top: 320px;
    left: 340px;
    font-size: 60px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: about 25s infinite;
}
 @keyframes about
 {
    0%
    {
        opacity: 0;
    }
   
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }  
 }
 .your
 {
    position: absolute;
    height: 100px;
    width: 1100px;
    top: 400px;
    left: 340px;
    font-size: 20px;
    font-weight: 1000;
    opacity: 0.7;
    animation: your 25s infinite;
}    
@keyframes your
{
    0%
    {
        opacity: 0;
    }
   
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
.we
{
    position: absolute;
    height: 100px;
    width: 900px;
    top: 320px;
    left: 270px;
    font-size: 60px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: we 25s infinite;
    color: #63599e;
}
@keyframes we 
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.will
{
    position: absolute;
    height: 100px;
    width: 1100px;
    top: 400px;
    left: 270px;
    font-size: 20px;
    font-weight: 1000;
    opacity: 0.7;
    animation: will 25s infinite;
    color: white;
}
 @keyframes will 
 {
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
 }
 .third
 {
     display: flex;
    height: 300px;
    width: 300px;
    background: #2F89FC;
    top: -50px;
    left: 130px;     
    box-shadow: 10px 10px 5px 5px gray;
    opacity: .8;
    float: left;
    margin: 30px 30px 30px 30px;
 }

 
 .head
 {
     position: absolute;
     top: 50px;
     left: 50px;
     height: 30%;
     width: 90%;
     color: white;
     font-size:30px;
     font-weight: 100;
     font-family: sans-serif;
 }
 .para
 {
     position: absolute;
     top: 100px;
     left: 30px;
     height: 100%;
     width: 80%;
     font-size: 15px;
     opacity: 10;
 }
 .fourth
 {
     display: flex;
    height: 300px;
    width: 300px;
    background: #2F89FC;
    top: -350px;
    left: 450px;     
    box-shadow: 10px 10px 5px 5px gray;
    margin: 30px 30px 30px 30px;
    float: left;
    animation: amine 0.5s;
 }
 
 .head1
 {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 30%;
    width: 90%;
    color: white;
    font-size:30px;
    font-weight: 100;
    font-family: sans-serif;
}   
.para1
{
    position: absolute;
     top: 100px;
     left: 30px;
     height: 100%;
     width: 80%;
     font-size: 15px;
     opacity: 10;
}
.fifth
{
    display: flex;
    height: 300px;
    width: 300px;
    background: #2F89FC;
    top: -650px;
    left: 760px;     
    box-shadow: 10px 10px 5px 5px gray;
    opacity: .8;
    animation: fifth 0.5s;
    float: left;
    margin: 30px 30px 30px 30px;

}
@keyframes fifth
 {
     0%
     {
         top: 100%;
     }
     50%
     {
         top: 50%;
        animation-play-state: paused;
     }
     100%
     {
         transition: 3s;
         top: 100%;
     }
 }
.six
{
    display: flex;
    height: 300px;
    width: 300px;
    background: #2F89FC;
    top: 622px;
    left: 1080px;     
    box-shadow: 10px 10px 5px 5px gray;
    float: left;
    margin: 30px 30px 30px 30px;
    animation: amine 5s;
}
@keyframes amine 
{
    0%
    {
        visibility: hidden;
    }
    50%
    {
        visibility: hidden;
    }
    100%
    {
        visibility: visible;
    }
}
.outdoor
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30%;
    width: 90%;
    color: white;
    font-size:30px;
    font-weight: 100;
    font-family: sans-serif;
}
.head2
{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 30%;
    width: 90%;
    color: white;
    font-size:30px;
    font-weight: 100;
    font-family: sans-serif;

}
.par2
{
    position: absolute;
    top: 100px;
    left: 30px;
    height: 100%;
    width: 80%;
    font-size: 15px;
}
.services
{
    position: absolute;
    top: 50px;
    left: 30px;
    height: 30%;
    width: 90%;
    color: white;
    font-size:30px;
    font-weight: 100;
    font-family: sans-serif;  
}
.pa
{
    position: absolute;
    top: 100px;
    left: 30px;
    height: 100%;
    width: 80%;
    font-size: 15px;   
}
.star
{
    position: relative;
    top: 200px;
    left: 0;
    height: 400px;
    width: 100%;
    background: url("star.jpg");
    z-index: -1;
}
.star:hover
{
    transform:scale(1);

}
.heat
{
    position: absolute;
    top: 300px;
    left: 300px;
    height: 100px;
    width: 60%;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.button
{
    position: absolute;
    /* display: flex; */
    top: 300px;
    left: 80%;
    height: 50px;
    width: 200px;
    background: #Ff8000;
    border-radius: 40px;
}
.ab{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 200px;
    color: white;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 900;
    
}
.next
{
    position: relative;
    top: 430px;
    left: 0;
    height: 100vh; 
    width: 49%;
    /* background: black; */
    /* background: url("banner1.webp");
    background-size: cover; */
    overflow: hidden;
    perspective: 50em;
    box-sizing: border-box;
    transition: .5s ease;
    /* box-shadow: 5px 5px 10px 5px rgb(129, 216, 238); */
    scroll-behavior: smooth;
}
.next .imgbox,
.next .detail
{
    width: 100%;
    height: 100%;
    position: absolute;
     box-sizing: border-box;
     transition: .5s;
}

.next .imgbox
{
    top: 0;
    left:0;
}
.next:hover .imgbox
{
    top: 0;
    left: -100%;
}
.next .imgbox img
{
    width: 100%;
}
.next .detail
{
top:0;
left: 100%;
padding: 60px 30px;
/* color: #2f89fc; */
box-shadow: 10px 10px 10px 10px gray;
border-bottom: 10px solid gray;

/* background: black; */
}
.next:hover .detail
{
    top:0;
    left: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.next .detail h1
{
    color: white;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid black;
}
.next .detail p
{
    margin: 20px 0 0;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.next1
{
    position: absolute;
    top: -2%;
    left: 80%;
    height: 100px;
    width: 20%;
}
.next .next1 ul li{
    list-style: none;
}
.next .next1 li a 
{
    color: #Ff8000;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}

.button1
{
    position: absolute;
    /* display: flex; */
    top: 10px;
    left: 0%;
    height: 50px;
    width: 200px;
    background: #Ff8000;
    border-radius: 40px;
}
.mediciness
{
    position: relative;;
    top:-520px;
    left: 0;
    height: 100px;
    width: 50%;
    /* background: gray; */
}
.medicine
{
    position: absolute;
    top: -50px;
    left: 0px;
    height: 50px;
    width: 30%;
    color: #2f89fc;
    padding: 80px 600px;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 900;
   
}
.medicines
{
    position: relative;
    top: -370px;
    left: 50%;
    height: 100vh;
    width: 50%;
    
    /* background: gray; */
}
.medicine1
{
    position: absolute;
    top: -10px;
    left: 0;
    margin: 50px 50px 50px 50px;
    padding: 10px 10px;
    height: 300px;
    width: 30%;
    background: white;
    box-shadow: 5px 5px 10px 5px gray;
    background: url("medicine1.jpg");
    background-size: cover;
    overflow: hidden;
    /* margin: 200px auto; */
    perspective: 50em;
    box-sizing: border-box;
    transition: .5s ease;
}
.medicine2
{
    position: absolute;
    top: -10px;
    left: 400px;
    margin: 50px 50px 50px 50px;
    padding: 10px 10px;
    height: 300px;
    width: 30%;
    background: white;
    box-shadow: 5px 5px 10px 5px gray;
    background: url("medicine2.jpg");
    background-size: cover;
    overflow: hidden;
    /* margin: 200px auto; */
    perspective: 50em;
    box-sizing: border-box;
    transition: .5s ease;
}
.medicine3
{
    position: absolute;
    top: 370px;
    left: 0px;
    margin: 50px 50px 50px 50px;
    padding: 10px 10px;
    height: 300px;
    width: 30%;
    background: white;
    box-shadow: 5px 5px 10px 10px gray;
    background: url("medicine3.jpg");
    background-size: cover;
    border: 1em black;
    overflow: hidden;
    /* margin: 200px auto; */
    perspective: 50em;
    box-sizing: border-box;
    transition: .5s ease;
}
.medicine4
{
    position: absolute;
    top: 370px;
    left: 400px;
    margin: 50px 50px 50px 50px;
    padding: 10px 10px;
    height: 300px;
    width: 30%;
    background: white;
    box-shadow: 5px 5px 10px 10px gray;
    background: url("medicine4.jpg");
    background-size: cover;
    overflow: hidden;
    /* margin: 200px auto; */
    perspective: 50em;
    box-sizing: border-box;
    transition: .5s ease;
}

.textbox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 5px white;
    padding: 10px 10px;
    transform: rotateX(-110deg);
    transform-origin: 50% 0%;
    transition: 1s;
    /* margin: 5px; */
    overflow: hidden;
    color: white;
}
.textbox h1,
.textbox p
{
    line-height: 1.3em;
}
.medicine1:hover .textbox
{
    transform: rotateX(0deg);
}
.medicine2:hover .textbox
{
    transform: rotateX(0deg);
}
.medicine3:hover .textbox
{
    transform: rotateX(0deg);
}
.medicine4:hover .textbox
{
    transform: rotateX(0deg);
}
.contact-title
{
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    color: black;
}
.contact-title h1
{
    position: relative;
    top: -200px;
    left: 250px;
    font-size: 32px;
    line-height: 10px;
    height: 50px;
    width: 50%;
}
.contact-title h2
{
    position: relative;
    top: -180px;
    left: 200px;
    font-size: 16px;
    height: 5px;
    width: 50%;
}
form
{
    position: relative;
    top: -100px;
    left: 100px;
    width: 40%;
    height: 400px;
    /* background: gray; */

}
.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    /* color: white; */
    font-size: 18px;
    margin-bottom: 16px;
}
input
{
    height: 45px;
    /* color: aqua; */
}
form .submit
{
    background: #ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

}
form .submit:hover
{   
    background-color: #f44336;
    cursor: pointer;
}